@model WorkProduct
@{
    ViewData["Title"] = "Create Product";
}
<div class="container mt-5">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Product</h4>

                <form class="forms-sample" action="Create" method="post">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name"class="form-control" placeholder="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" placeholder="Desciption">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>File upload</label><br />
                        <input type="file"
                               name="photo"
                               accept="image/*"
                               class="inputted file-upload-browse"
                               asp-for="FormFiles"
                               multiple>
                    </div>
                    @*<div class="form-group">
                       <label asp-for="CategoryId">Select Category</label>
                        <select class="form-control" asp-for="CategoryId" d ="Choose">
                            <option >Busnisess</option>
                            <option>Fdsfasds</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>*@

                    <button type="submit" class="btn btn-primary me-2 text-light">Submit</button>
                    <button asp-controller="Products" asp-action="Main" class="btn btn-danger text-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
