@model List<WorkProduct>
@{
    ViewData["Title"] = "Products";
    WorkImage MainImage;
    int num = 1;
}

<div class="container mt-5">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title">Products Table</h4>
                    @*<p class="card-description">
                    Add class <code>.table-striped</code>
                    </p>*@
                    <div>
                        <span style="color:#888888">Add Product</span>
                        <a asp-controller="Products" asp-action="Create" style="text-decoration:none;">
                            <button type="button" class="btn btn-success btn-icon text-light">
                                <i class="ti-plus" style="font-size:0.7rem"> </i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    №
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Category
                                </th>
                                <th class="text-center">
                                    Image
                                </th>
                                <th class="text-center">
                                    Options
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model)
                            {
                                MainImage = product.Images.FirstOrDefault(x => x.isMain == true);
                                <tr>
                                    <td>
                                        @num
                                    </td>
                                    <td>
                                        @product.Name
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="ProductDescription">
                                                @product.Description
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @product.Category.Name
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center ms-3 me-5">
                                            @if (MainImage != null)
                                            {
                                                <image src="/assets/img/@MainImage.Path"></image>
                                            }
                                            else
                                            {
                                                <div>No image detected.</div>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between" style="margin:auto">
                                            <button class="btn btn-primary">
                                                <i class="ti-info text-light border border-1 rounded-circle border-light p-1"></i>
                                            </button>
                                            <button class="btn btn-warning">
                                                <i class="ti-marker-alt text-light border border-1 rounded-circle border-light p-1"></i>
                                            </button>
                                            <button class="btn btn-danger">
                                                <i class="ti-trash text-light border border-1 rounded-circle border-light p-1"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                num++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


