@model List<WorkCategory>
@{
    ViewData["Title"] = "Categories";
    int num = 1;
    int Count = 0;
    int productCount = 0;
}
<div class="container mt-5">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title">Categories Table</h4>
                    @*<p class="card-description">
                    Add class <code>.table-striped</code>
                    </p>*@
                    <div>
                        <span style="color:#888888">Add Category</span>
                        <a asp-action="CategoryCreate" style="text-decoration:none;">
                            <button type="button" class="btn btn-success btn-icon text-light">
                                <i class="ti-plus" style="font-size:0.7rem"> </i>
                            </button>
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    №
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Products
                                </th>
                                <th class="text-center">
                                    Options
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model)
                            {
                                Count = 0;
                                productCount = 0;
                                <tr>
                                    <td>
                                        @num
                                    </td>
                                    <td>
                                        @category.Name
                                    </td>
                                    <td>
                                        @foreach (var item in category.Products)
                                        {
                                            Count += 5;
                                            productCount++;
                                        }
                                        <div class="mb-2">@productCount product(s)</div>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: @Count%" aria-valuenow="@Count" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-between w-50" style="margin:auto">
                                            <button class="btn btn-primary">
                                                <i class="ti-info text-light"></i>
                                            </button>
                                            <button class="btn btn-warning">
                                                <i class="ti-marker-alt text-light"></i>
                                            </button>
                                            <button class="btn btn-danger">
                                                <i class="ti-trash text-light"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                num++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
