@model WorkCategory
@{
    ViewData["Title"] = "Create Category";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Category Form</h4>
            <form class="forms-sample" action="CategoryCreate" method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Enter name here...">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary me-2 text-light ">Submit</button>
                <button class="btn btn-danger text-light" asp-action="Categories">Cancel</button>
            </form>
        </div>
    </div>
</div>

