@model List<CartItemVM>
@{
    ViewData["Title"] = "Cart";
    int num = 1;
    double TotalPrice = 0;
}

<div class="container mt-5 mb-5" style="height:80vh">
    <table class="table">
        <thead>
            <tr class="bg-secondary text-light">
                <th scope="col">№</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Count</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var price=item.Price*item.Count;
                <tr class="align-text-bottom">
                    <th scope="row">@num</th>
                    <td><img width="100" height="100" src="~/assets/img/@item.MainImage" class="rounded-circle"/></td>
                    <td>@item.Name</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Count</td>
                    <td>@price$</td>
                </tr>
                TotalPrice += price;
                num++;  
            }
        </tbody>
    </table>
    <div class="d-flex justify-content-end me-5 fs-5 text-light"><span class="me-2 ps-2 pe-2 bg-secondary">Total Price:</span><span class="ps-2 pe-2 bg-secondary">@TotalPrice$</span></div>
</div>

