@model List<WorkProduct>
@{
    ViewData["Title"] = "Work";
    WorkImage MainImage;
}

@foreach (var prod in Model)
{
    MainImage = prod.Images.FirstOrDefault(x => x.isMain == true);
    <a asp-controller="Work" asp-action="Single" asp-route-id="@prod.Id" class="col-sm-6 col-lg-4 text-decoration-none project @prod.Category.Name.Replace(" ","")">
        <div class="service-work overflow-hidden card mb-5 sm-0">
            @if (MainImage != null)
            {
                <img class="card-img-top" src="~/assets/img/@MainImage.Path" alt="...">
            }
            <div class="card-body">
                <h5 class="card-title light-300 text-dark">@prod.Name</h5>
                <p class="card-text light-300 text-dark">
                    @foreach (var item in prod.Description.Take(125).ToList())
                    {
                        @item
                    }
                </p>
                <span class="text-decoration-none text-primary light-300">
                    Read more <i class='bx bxs-hand-right ms-1'></i>
                </span>
            </div>
        </div>
    </a>
}

